{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/basestyle.css' %}">
{% for c in bollymodel %}
<div class="htmlclasswork">
<div class='video-container'><iframe width="560" height="315" src={{c.bollyurl}}
 frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
 <h1 class="h2videotitle">{{c.bollyvideo}}</h1>
<button><details>
  <summary>DETAIL'S</summary>
  <h1 class="h5videodetail"> {{c.bollydetails}}</h1>
</details></button>
 </div>
 {% endfor %}
 {% endblock %}
